body {
    background-color: #95c2de;
}

.mainbox {
    background-color: #95c2de;
    margin: auto;
    height: 600px;
    width: 600px;
    position: relative;
    border-radius: 10px;
}

.logo {
    position: absolute;
    left: 10%;
    top: 20%;
    width: 80%;
}

.err {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 6rem;
    position: absolute;
    left: 33%;
    top: 41%;
}

.far {
    position: absolute;
    font-size: 3.5rem;
    left: 45%;
    top: 48%;
    color: #ffffff;
}

.err2 {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 6rem;
    position: absolute;
    left: 57%;
    top: 41%;
}

.msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position: absolute;
    left: 13%;
    top: 61%;
    width: 75%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}