/*Estilo de body*/

body {
    background-image: url("/img/auth-bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.icons {
    font-size: 19px;
    color: #B0ACAB;
}

.content_true {
    font-size: 19px;
    color: #8CD138;
}

.content_warning {
    font-size: 19px;
    color: #F4CF38 ;
}

.content_true_pdf {
    font-size: 19px;
    color: #D33E20;
}

.icon_basic {
    font-size: 19px;
    color: #65B1D3;
}

.parpadea {
    animation-name: parpadeo;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}


/*tootip 2*/

.tooltip-content {
    visibility: hidden;
    padding: 10px;
    background-color: rgba(0, 35, 255, 0.6);
    color: #fff;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

#tooltip:hover~.tooltip-content {
    visibility: visible;
}

.dropzone {
    border: 2px dashed #dedede;
    border-radius: 5px;
    background: #f5f5f5;
}

.boxpdf {
    border: 2px solid #dedede;
    border-radius: 5px;
    display: inline;
    height: 20px;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    height: 200px;
    overflow: scroll;
    padding: 6px;
}

.b {
    border: 2px solid #dedede;
    min-height: 100px;
    width: 100px;
    word-wrap: break-word;
    display: inline-block;
    border-radius: 4px;
}


/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */

.la-ball-clip-rotate-multiple,
.la-ball-clip-rotate-multiple>div {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.la-ball-clip-rotate-multiple {
    display: block;
    font-size: 0;
    color: #fff;
}

.la-ball-clip-rotate-multiple.la-dark {
    color: #333;
}

.la-ball-clip-rotate-multiple>div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}

.la-ball-clip-rotate-multiple {
    width: 32px;
    height: 32px;
}

.la-ball-clip-rotate-multiple>div {
    position: absolute;
    top: 50%;
    left: 50%;
    background: transparent;
    border-style: solid;
    border-width: 2px;
    border-radius: 100%;
    -webkit-animation: ball-clip-rotate-multiple-rotate 1s ease-in-out infinite;
    -moz-animation: ball-clip-rotate-multiple-rotate 1s ease-in-out infinite;
    -o-animation: ball-clip-rotate-multiple-rotate 1s ease-in-out infinite;
    animation: ball-clip-rotate-multiple-rotate 1s ease-in-out infinite;
}

.la-ball-clip-rotate-multiple>div:first-child {
    position: absolute;
    width: 32px;
    height: 32px;
    border-right-color: transparent;
    border-left-color: transparent;
}

.la-ball-clip-rotate-multiple>div:last-child {
    width: 16px;
    height: 16px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    -o-animation-direction: reverse;
    animation-direction: reverse;
}

.la-ball-clip-rotate-multiple.la-sm {
    width: 16px;
    height: 16px;
}

.la-ball-clip-rotate-multiple.la-sm>div {
    border-width: 1px;
}

.la-ball-clip-rotate-multiple.la-sm>div:first-child {
    width: 16px;
    height: 16px;
}

.la-ball-clip-rotate-multiple.la-sm>div:last-child {
    width: 8px;
    height: 8px;
}

.la-ball-clip-rotate-multiple.la-2x {
    width: 64px;
    height: 64px;
}

.la-ball-clip-rotate-multiple.la-2x>div {
    border-width: 4px;
}

.la-ball-clip-rotate-multiple.la-2x>div:first-child {
    width: 64px;
    height: 64px;
}

.la-ball-clip-rotate-multiple.la-2x>div:last-child {
    width: 32px;
    height: 32px;
}

.la-ball-clip-rotate-multiple.la-3x {
    width: 96px;
    height: 96px;
}

.la-ball-clip-rotate-multiple.la-3x>div {
    border-width: 6px;
}

.la-ball-clip-rotate-multiple.la-3x>div:first-child {
    width: 96px;
    height: 96px;
}

.la-ball-clip-rotate-multiple.la-3x>div:last-child {
    width: 48px;
    height: 48px;
}


/*
  * Animation
  */

@-webkit-keyframes ball-clip-rotate-multiple-rotate {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }

    50% {
        -webkit-transform: translate(-50%, -50%) rotate(180deg);
        transform: translate(-50%, -50%) rotate(180deg);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@-moz-keyframes ball-clip-rotate-multiple-rotate {
    0% {
        -moz-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }

    50% {
        -moz-transform: translate(-50%, -50%) rotate(180deg);
        transform: translate(-50%, -50%) rotate(180deg);
    }

    100% {
        -moz-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@-o-keyframes ball-clip-rotate-multiple-rotate {
    0% {
        -o-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }

    50% {
        -o-transform: translate(-50%, -50%) rotate(180deg);
        transform: translate(-50%, -50%) rotate(180deg);
    }

    100% {
        -o-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes ball-clip-rotate-multiple-rotate {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        -moz-transform: translate(-50%, -50%) rotate(0deg);
        -o-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }

    50% {
        -webkit-transform: translate(-50%, -50%) rotate(180deg);
        -moz-transform: translate(-50%, -50%) rotate(180deg);
        -o-transform: translate(-50%, -50%) rotate(180deg);
        transform: translate(-50%, -50%) rotate(180deg);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        -moz-transform: translate(-50%, -50%) rotate(360deg);
        -o-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


/* estilos paara preloader css*/

#page-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #FFF none repeat scroll 0% 0%;
    z-index: 99999;
}

#page-loader .preloader-interior {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#page-loader .preloader-interior:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #62686b;
    -webkit-animation: spin 3s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#page-loader .preloader-interior:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #394c56;
    -webkit-animation: spin 1.5s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}


/* ===========  seccion search ==========*/

#grad1 {
    background-color: #9C27B0;
    background-image: linear-gradient(120deg, #FF4081, #81D4FA);
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    width: 94%;
    margin: 0 3% 20px 3%;
    position: relative
}


/*#msform fieldset {
        background: white;
        border: 0 none;
        border-radius: 0.5rem;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding-bottom: 20px;
        position: relative
    } este estilo afecta al input de filepond en estilo por eso se desactiva*/

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform fieldset .form-card {
    text-align: left;
    color: #9E9E9E
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid skyblue;
    outline-width: 0
}

#msform .action-button {
    width: 100px;
    background: skyblue;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
}

select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px
}

select.list-dt:focus {
    border-bottom: 2px solid skyblue
}

.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #000000
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f023"
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f09d"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: skyblue
}

.radio-group {
    position: relative;
    margin-bottom: 25px
}

.radio {
    display: inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 2px
}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
}

.fit-image {
    width: 100%;
    object-fit: cover
}

.table tbody tr:hover td {
    background-color: #d8eaf3;
}

#table_detail {
    width: 500px;
    text-align: left;
    border-collapse: collapse;
    color: #2E2E2E;
    border: #A4A4A4;
}

tr:hover {
    background-color: #F2F2F2;
}

.hidden_row {
    display: none;
}

.box {
    display: flex;
    flex-flow: row wrap;
}

.tr {
    margin-bottom: 5px;
    padding: 10px;
    background-color: #F2F2F2;
}


/*   reposive img del home /modulos*/

.responsive {
    max-width: 100%;
    height: auto;
}


/*  estilo tabla formada por divs facturas vinculadas */

#resp-table {
    width: 100%;
    display: table;
}

#resp-table-body {
    display: table-row-group;
}

.resp-table-row {
    display: table-row;
}

.table-body-cell {
    font-size: x-small;
    display: table-cell;
    border: 1px solid #dddddd;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    overflow: hidden;
}


/*Diseño de la ventana PDF */


/*Encabezado*/


/*Contenedor encabezado*/

.EncabezadoPDFContainer {
    text-align: center;
    padding: 10px 0px 0px 0px;
}


/*Icono PDF*/

.DocumentPDF {
    color: #C81B02;
    font-size: 70px;
}


/*Cuerpo*/


/*Contenedor del nombre del PDF*/

.CuerpoNamePDFContainer {
    text-align: center;
}


/*Span del nombre del PDF*/

.SpanNamePDF {
    font-size: 14px;
}


/*Boton de eliminar*/

.BtnDelPDF {
    background: #475f7b;
    border-radius: 3px;
    cursor: pointer;
    height: 28px;
    text-align: center;
    padding: 4px 0px 0px 0px;
}


/*Contenedor del icono*/

.RevisadoContainer {
    width: fit-content;
    margin: auto;
}


/*Mensaje (ToolTip)*/

.MensajeContainer {
    border: 0.5px solid;
    border-radius: 5px;
    background: #0060ceb0;
    color: white;
    position: absolute;
    height: fit-content;
    width: fit-content;
    display: none;
}


/*Texto del mensaje*/

.Contenido {
    padding: 4px;
}


/*Espaciado entre textos*/

.TextoMensaje {
    margin: 0;
}


/*Estilo de los modales (Cheques y transferencias)*/


/*Encabezado*/

.EncabezadoModalChequesYTransf {
    text-align: center;
}


/*Leyenda de los archivos existentes*/

.ArchExistContenedor {
    text-align: center;
    background-color: #397ac4;
    border-radius: 3px;
    color: #ffffff;
}

.LblArchExist {
    padding: 5px;
}


/*Zona para subir archivos*/

.TxtNoArchivos {
    text-align: center;
}


/*Estilo de la ventana de notificaciones*/

.come-from-modal.left .modal-dialog,
.come-from-modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.come-from-modal.left .modal-content,
.come-from-modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
    border-radius: 0px;
}

.come-from-modal.left .modal-body,
.come-from-modal.right .modal-body {
    padding: 15px 15px 80px;
}

.come-from-modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.come-from-modal.right.fade.in .modal-dialog {
    right: 0;
}


/*Botones de facturas vinculadas*/

.BtnVinculadas {
    color: white !important;
    /*Se agrega !important ya que bootstrap agrega un diseño por defecto*/
}


/*CUENTAS POR PAGAR*/


/*Ocultar la columna de vincular proveedores*/

.VincVarProv {
    display: none;
}


/*INICIO*/


/*PENDIENTES*/


/*Ancho del select del inicio (Pendientes)*/

.selectpendi {
    width: 50% !important;
    /*Important ya que afecta un diseño de bootstrap*/
}


/*DESCARGAS*/


/*Ocultar los mensaje de confirmacion y filtros*/

#MnsSuccess,
#MnsDanger,
#filtemit {
    display: none;
}


/*Seleccionar el campo del dia de hoy*/

.hoy,
.recibi {
    background: #397ac4;
    color: white;
}

.calemitreci td {
    padding: 12px !important;
}

.conten {
    position: absolute;
    top: 10px;
    z-index: 1000;
    float: right;
}


/*notificacion de barra*/

.notEmail {
    display: none;
    position: relative;
    width: 320px;
    height: 90px;
    margin-bottom: 5px;
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    overflow: hidden;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    -webkit-box-shadow: 9px 5px 7px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 9px 5px 7px 0 rgba(0, 0, 0, 0.3);
    animation-name: slideIn;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    opacity: 1;
    animation-delay: 0s;
}

.mensaje_not {
    float: left;
    width: 60%;
    height: 100%;
    text-align: center;
    line-height: 90px;
    font-size: 0.9em;
}

.notEmail>img {
    float: right;
    height: 100%;
    background-size: contain;
}

@keyframes slideIn {
    0% {
        margin-left: -500px;
        opacity: 0;
    }

    100% {
        margin-left: 0px;
        opacity: 1;
    }
}


/*  estilo boton vinculacion automatica pagos */


/* From uiverse.io by @Custyyyy */

.button {
    display: inline-block;
    border-radius: 7px;
    border: none;
    background: #1875FF;
    color: white;
    font-family: inherit;
    text-align: center;
    font-size: 13px;
    box-shadow: 0px 14px 56px -11px #1875FF;
    width: 10em;
    padding: 1em;
    transition: all 0.4s;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

.button span:after {
    content: 'for free';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.7s;
}

.button:hover span {
    padding-right: 3.55em;
}

.button:hover span:after {
    opacity: 4;
    right: 0;
}


/* From uiverse.io by @satyamchaudharydev */

.loader {
    --loader: rgb(49, 180, 255);
    --loader-size: 30px;
    position: relative;
    width: 100px;
    height: 40px;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 2px
}

.loader span {
    position: absolute;
}

.loader span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: var(--loader-size);
    background: linear-gradient(90deg, transparent, var(--loader));
    animation: loader-anim1 1s linear infinite;
}

@keyframes loader-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.loader span:nth-child(2) {
    top: -100%;
    right: 0;
    width: var(--loader-size);
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--loader));
    animation: loader-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes loader-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.loader span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: var(--loader-size);
    background: linear-gradient(270deg, transparent, var(--loader));
    animation: loader-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes loader-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.loader span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: var(--loader-size);
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--loader));
    animation: loader-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes loader-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

/*MODULO VOLUMETRICO*/
/*Bloqueo de objetos*/
.disabledattr {
    pointer-events: none;
}

/*Botones captura de volumetricos*/
.btnoricircle,
.btncambipreccircle {
    width: 80px;
    height: 80px;
    background: white;
    border: 3px solid;
    border-radius: 100%;
    color: #397ac4;
    cursor: pointer;
    transition: 0.4s;
}

/*Marcamos el boton de volumetrico*/
.btnoricircle {
    background: #397ac4;
    color: #ffffff;
}

.btniconvolu {
    padding: 22px 0px 0px 3px;
}

/*Escondemos la tabla de cambio de precio*/
.Tablacambipreci {
    display: none;
}

/*MONITOREO*/
/*Escondemos el scroll de la tabla*/
.conttablemoni {
    overflow: hidden !important;
}

/*General*/
.pagination {
    background-color: #f2f4f4;
    width: fit-content;
}

<<<<<<< HEAD


=======
/*Expedediente fiscal*/
.formexpe {
    display: none;
}

.Complement {
    background-color: #ebebeb !important;
    display: none;
}

/*Tareas*/
#ColabZone {
    border: 1px solid #dfe3e7;
    width: 100%;
    height: 6em;
    border-radius: 4px;
    padding: 12px;
    overflow: auto;
}

/*TODO*/
#NotiTodoContainerContent {
    position: absolute;
    font-family: Rubik, Helvetica, Arial, serif;
    width: 20em;
    height: 14em;
    background: #ffffff;
    border-radius: 5px;
    overflow-x: auto;
    box-shadow: 0 15px 30px 0 rgb(0 0 0 / 11%), 0 5px 15px 0 rgb(0 0 0 / 8%);
}

#NotiHead {
    background: #f8f8f8;
    padding: 1em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}

.ContentNoti {
    padding: 1em;
}

.ContentNoti:hover {
    background-color: #F2F4F4;
    cursor: pointer;
}



/*Ranking*/
#RankingContainerContent {
    position: absolute;
    font-family: Rubik, Helvetica, Arial, serif;
    width: 27em;
    height: 14em;
    background: #ffffff;
    border-radius: 5px;
    overflow-x: auto;
    box-shadow: 0 15px 30px 0 rgb(0 0 0 / 11%), 0 5px 15px 0 rgb(0 0 0 / 8%);
}

#RankHead {
    background: #f8f8f8;
    padding: 1em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}

.ContentRank {
    padding: 1em;
    text-align: center;
}

.FontProyectos {
    font-size: 12px !important;
}

.sticky-colhead {
    position: sticky;
    background-color: #f8f8f8;
}

.sticky-col {
    position: sticky;
    background-color: white;
}

.first-col {
    width: fit-content;
    left: -0.5px;
}
>>>>>>> db6a1e3f848f834df51111c3801ed807e1226ac7
